#form1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#form1 nav {
        text-align: center;
}

li {font-size:18px;
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    position: relative;}

.h1 {
    font-size: 45px;}

.h2 {
    font-size: 25px;
    margin: 70px;
    letter-spacing:-2px;
}

#top {
text-align: center
}

#top label#h1 {font-size:50px}

div {
border-bottom: solid 1px black;
padding-bottom:10px
}